.navbar {
  height: 60px;
  background-color: #7F0909; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
  padding: 0 20px;
}

.link {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

.link:hover {
  color: #FFC500; 
}
.houseIcon {
  height:50px;
  width:50px;
}