*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
}

a {
  text-decoration: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh; 
}


